@model fa18Team28_FinalProject.Models.ManagerOrder
@using fa18Team28_FinalProject.Models

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ManagerOrder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ManagerOrderDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ManagerOrderDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ManagerOrderDetailNotes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ManagerOrderDetailNotes)
        </dd>
    </dl>
</div>
<div>
    <table class="table table-hover table-sm table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Extended Cost</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ManagerOrderDetail cd in Model.ManagerOrderDetails)
            {
                <tr>
                    <td>@cd.Book.Title</td>
                    <td>@cd.Book.Author</td>
                    <td>@cd.Book.Price</td>
                    <td>@cd.Quantity</td>
                    <td>@cd.ExtendedCost</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <table class="table table-sm table-bordered" style="width:30%">
        <tr>
            <th colspan="2" style="text-align:center">Order Summary</th>
        </tr>
        <tr>
            <td>Order Subtotal</td>
            <td>@Html.DisplayFor(r => r.ManagerOrderSubtotal)</td>
        </tr>
        <tr>
            <td>Sales Tax (8.25%)</td>
            <td>@Html.DisplayFor(r => r.SalesTax)</td>
        </tr>
        <tr>
            <td>Order Total</td>
            <td>@Html.DisplayFor(r => r.ManagerOrderTotal)</td>
        </tr>

    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ManagerOrderID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
