@model IEnumerable<fa18Team28_FinalProject.Models.Review>
@using Microsoft.AspNetCore.Authorization
@using fa18Team28_FinalProject.Models


@{
    ViewData["Title"] = "Index";
}
<h2>Review Repository</h2>
<p>
    <a asp-action="Create">Write a Review</a> | 
    <a asp-action="Approval">Reviews That Need Care</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReviewText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @if (User.IsInRole("Manager")){@Html.DisplayNameFor(model => model.Approver)}
            </th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <th>
                @Html.DisplayFor(model => item.Book.Title)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Author.FirstName) @Html.DisplayFor(modelItem => item.Author.LastName)
            </td>
            @if (User.IsInRole("Manager"))
    {
        <td>
            @Html.DisplayFor(modelItem => item.Approver.FirstName) @Html.DisplayFor(modelItem => item.Approver.LastName)
        </td>
}
            <td>
                <a asp-action="Details" asp-route-id="@item.ReviewID">Details</a>
            </td>
        </tr>
        }
    </tbody>
</table>