@model IEnumerable<fa18Team28_FinalProject.Models.Supplier>

@{
    ViewData["Title"] = "Index";
}

<h2>Suppliers</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SupplierName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstablishedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreferredSupplier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierNotes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstablishedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreferredSupplier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierNotes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SupplierID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SupplierID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SupplierID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
