@model fa18Team28_FinalProject.Models.Book
@using fa18Team28_FinalProject.Models

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReviewText)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PublishedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UniqueID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UniqueID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Reordered)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Reordered)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PurchaseCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PurchaseCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CopiesOnHand)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CopiesOnHand)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastOrdered)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastOrdered)
        </dd>
    </dl>
</div>
<div>
    <table class="table table-hover table-striped table-sm">
        <thead>
            <tr>
                <th>Suppliers</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ProductDetail pd in Model.ProductDetails)
            {
                <tr>
                    <td>@pd.Supplier.SupplierName</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BookID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
