@model IEnumerable<fa18Team28_FinalProject.Models.Book>
@using fa18Team28_FinalProject.Controllers
@using fa18Team28_FinalProject.Models

<h2></h2>
<form asp-action="Index" asp-controller="Search" method="get">
    <p class="form-group">
        <a asp-action="DetailedSearch" class="btn btn-success">Detailed Search</a>
        <a asp-action="Index" class="btn btn-danger">Show All</a>
    </p>
</form>
<p> Displaying @ViewBag.SelectedBooks out of @ViewBag.TotalBooks Books </p>

@{
    ViewData["Title"] = "View";
}
<h2>Library</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UniqueID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CopiesOnHand)
            </th>
            <th>
                Rating
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UniqueID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CopiesOnHand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reviews)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.BookID">Details</a> |
                    @Html.ActionLink("Add To Cart", "AddToCart", "CustomerOrders", new { id = item.BookID }, null)
                </td>
            </tr>
        }
    </tbody>
</table>
