@model IEnumerable<fa18Team28_FinalProject.Models.CustomerOrderDetail>
@using fa18Team28_FinalProject.Controllers

<h2></h2>

<h2>Sort Report</h2>
<form asp-action="DisplayBookReport" asp-controller="Reports" method="get">
    <div class="form-group">
        <label class="radio">@Html.RadioButton("Filter", BookReportClassification.RecentFirst)Recent First</label>
        <label class="radio">@Html.RadioButton("Filter", BookReportClassification.HighestProfitMargin)Hightest Profit Margin</label>
        <label class="radio">@Html.RadioButton("Filter", BookReportClassification.LowestProfitMargin)Lowest Profit Margin</label>
        <label class="radio">@Html.RadioButton("Filter", BookReportClassification.AscendingPrice)Ascending Price</label>
        <label class="radio">@Html.RadioButton("Filter", BookReportClassification.DescendingPrice)Descending Price</label>
        <label class="radio">@Html.RadioButton("Filter", BookReportClassification.MostPopular)Most Popular</label>
    </div>

    <p class= "form-group">
        <button type="submit" class="btn btn-danger">Sort</button>
    </p>
    
</form>

@{
    ViewData["Title"] = "View";
}
<h2>Books Sold Report</h2>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Book.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerOrder.CustomerOrderNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerOrder.AppUser.FirstName) @Html.DisplayNameFor(model => model.CustomerOrder.AppUser.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book.ProfitMargin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerOrder.CustomerOrderDate)
            </th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                    <td>
                    @Html.DisplayFor(modelItem => item.Book.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerOrder.CustomerOrderNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerOrder.AppUser.FirstName) @Html.DisplayFor(modelItem => item.CustomerOrder.AppUser.LastName)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Book.Cost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Book.ProfitMargin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerOrder.CustomerOrderDate)
                    </td>
            </tr>
        }
    </tbody>
</table>
