@model IEnumerable<fa18Team28_FinalProject.Models.CustomerOrderDetail>
@using fa18Team28_FinalProject.Controllers

<h2></h2>
<p> Displaying @ViewBag.SelectedBooks out of @ViewBag.TotalBooks Books </p>

@{
    ViewData["Title"] = "View";
}
<h2>Customers Report</h2>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.CustomerOrder.AppUser.FirstName) @Html.DisplayNameFor(model => model.CustomerOrder.AppUser.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book.PurchaseCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book.Reordered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book.CopiesOnHand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book.LastOrdered)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayNameFor(modelItem => item.CustomerOrder.AppUser.FirstName) @Html.DisplayNameFor(modelItem => item.CustomerOrder.AppUser.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Reordered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.CopiesOnHand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.PublishedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.LastOrdered)
            </td>
        </tr>
        }
    </tbody>
</table>
