@model IEnumerable<fa18Team28_FinalProject.Models.CustomerOrderDetail>
@using fa18Team28_FinalProject.Controllers
@{
    ViewData["Title"] = "Index";
}
<h2>Inventory Report</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book.CopiesOnHand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book.Cost)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.CopiesOnHand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Cost)
                </td>
            </tr>
        }
    </tbody>
</table>
