@*@page
@{
    @using fa18Team28_FinalProject.Controllers
}


<h2>Detailed Search</h2>
<form asp-action="DisplayBookReport" asp-controller="Reports" method="get">
    <div class="form-group">
        <label>Filters:</label>
        <input name="StarString" class="form-control" /> <div class="text-danger">@ViewBag.Message</div>
        <label class="radio">@Html.RadioButton("Filter", BookReportClassification.RecentFirst)Recent First (A to Z)</label>
        <label class="radio">@Html.RadioButton("Filter", BookReportClassification.HighestProfitMargin)Hightest Profit Margin (A to Z)</label>
        <label class="radio">@Html.RadioButton("Filter", BookReportClassification.LowestProfitMargin)Lowest Profit Margin</label>
        <label class="radio">@Html.RadioButton("Filter", BookReportClassification.MostPopular)Most Popular</label>
    </div>

    <button type="submit" class="btn btn-danger">Search</button>
</form>*@