@model fa18Team28_FinalProject.Models.CustomerOrderDetail
@using fa18Team28_FinalProject.Models
@{
    ViewData["Title"] = "AddToOrder";
}

<h2>AddToOrder</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label class="control-label col-md-2">Select a book:</label>
        <div class="col-md-8">
            @Html.DropDownList("SelectedBook", (SelectList)ViewBag.AllCustomerBooks, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CustomerOrder.CustomerOrderID)
        <div class="form-group">
            @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add to Order" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
