@model IEnumerable<fa18Team28_FinalProject.Models.CustomerOrderDetail>
@{
    ViewData["Title"] = "RemoveFromOrder";
}
<h2>Modify Order Items</h2>
<p>
    <a asp-action="Create">Add New Item To Order</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Book Title
            </th>
            <th>
                Book Author
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtendedPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerOrderDetailNotes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExtendedPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerOrderDetailNotes)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "CustomerOrderDetails", new { id = item.CustomerOrderDetailID }, null) |
                    @Html.ActionLink("Delete", "Delete", "CustomerOrderDetails", new { id = item.CustomerOrderDetailID }, null)
                </td>
            </tr>
        }
    </tbody>
</table>