@model fa18Team28_FinalProject.Models.CustomerOrderDetail
@using fa18Team28_FinalProject.Models

@{
    ViewData["Title"] = "AddToCart";
}

<h2>Add To Order</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <table class="table table-hover table-sm table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Extended Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (CustomerOrderDetail cd in Model.CustomerOrderDetails)
                {
                <tr>
                    <td>@cd.Book.Title</td>
                    <td>@cd.Book.Author</td>
                    <td>@cd.Book.Price</td>
                    <td>@Html.EditorFor(model => cd.Quantity, new { htmlAttributes = new { @class = "form-control" } })</td>                
                    <td>@cd.ExtendedPrice</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add to Order" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
